.home-main{
    width: 1130px;
    margin: 114px auto ;
}

.main {
    display: flex;
    justify-content: center;
    position: relative;
    top: 151px;
}

.form {
    box-sizing: border-box;
    position: absolute;
    width: 342px;
    height: 363px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
    border-radius: 18px;
}

.input {
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
    width: 276px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 16px 23px;
    font-size: 20px;
    font-weight: 600;
    color: #6f6f6f;
    font-style: normal;
    margin: 19px 0px 0px 0px;
}

.form-container {
    margin: 45px 33px;
}

.form-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #5300A7;
    text-align: center;
    margin: 6px 0 2px  ;
}

.button-submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 30px;
    width: 276px;
    height: 44px;
    background: #121212;
    border: 1px solid rgba(125, 131, 152, 0.3);
    box-shadow: 0px 3px 6px rgba(18, 18, 18, 0.03);
    border-radius: 6px;
    color: white;
    font-size: 16px;
    font-weight: 500px;
}

.text-or {
    font-size: 20px;
    margin: 8px 0px ;
    text-align: center;
    font-weight: 600;
}

.button-google {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    justify-content: center;
    gap: 15px;
    width: 276px;
    height: 44px;
    background: #C95252;
    border: 1px solid rgba(125, 131, 152, 0.3);
    box-shadow: 0px 3px 6px rgba(18, 18, 18, 0.03);
    border-radius: 6px;
    color: white;
    font-size: 16px;
    font-weight: 500px;
}